<div class="container-fluid">
    <h2 class="pl-2 text-center">The Mobile Phone Store</h2>



    <hr>


    <div lass="container" *ngFor="let product of products; index as productId">

        <div *ngIf="product.imgUrl">
            <img [src]="product.imgUrl" class="img-fluid p-5" />
        </div>

        <h3 class="pl-2">
            <!-- [..] is Property binding-->
            <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
                {{ product.name }}
            </a>
        </h3>

        <p class="price">{{ product.price | currency }}</p>


        <div class="pl-2">
            <p *ngIf="product.short_description" [routerLink]="['/products', productId]">
                Description: {{ product.short_description }}
            </p>


            <!-- () is event bindint -->
            <button class="btn btn-primary btn-sm mr-2" (click)="shareProduct()">
                <fa-icon [icon]="faFacebookF"></fa-icon>
            </button>
            <button class="btn btn-primary btn-sm mr-2" (click)="shareProduct()">
                <fa-icon [icon]="faTwitterSquare"></fa-icon>
            </button>
            <button class="btn btn-primary btn-sm" (click)="shareProduct()">
                <fa-icon [icon]="faInstagram"></fa-icon>
            </button>

            <button class="btn btn-info ml-5 " (click)="addToCart(product)">
                Buy Now
            </button>
        </div>

        <app-product-alerts [product]="product" (notify)="onNotify()">
        </app-product-alerts>
        <hr>
    </div>

</div>